/* index html */
/* defualt styles for all menus */
.menu
{
  display: none;
  width: 98.8vw;
  /* height: 44px; */
  background-color: #375381;
}


/* upper nav menu */
.upper_menu 
{
  border: 1px solid #000;
  padding-top: 13px;
  background: #375381;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  display: block;
  width: 98.8vw;
  height: 35px;
}

.upper_menu_hide
{
  display: none;
}

.nav_links 
{
  margin: 27px;
  width: 65px;
  height: 19px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

#content_frame
{
  background-color: red;
  height: 91vh;
  width: 98.8vw;
}


/* categories menu */

.categories
{
  margin-left: -8px;
  margin-right: 5px;
  width: 65px;
  height: 19px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.return_arrow
{
  margin-left: 3px;
  width: 65px;
  height: 19px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.charts_search
{
  background-color: #fff;
}


/* chart menu active styles */
.chart_menu_active
{
  display: flex;
  flex-direction: row;
  width: 98.8vw;
  height: 44px;
  padding: 13px 0px 0px;
  background-color: #375381;
}

/* enroute menu active styles */
.enroute_menu_active
{
  display: block;
  width: 98.8vw;
  height: 44px;
  padding: 13px 0px 0px;
  background-color: #375381;
}

.ac_menu_active
{
  display: block;
  width: 98.8vw;
  height: 44px;
  padding: 13px 0px 0px;
  background-color: #375381;
}


.wx_menu_active
{
  display: block;
  width: 98.8vw;
  height: 44px;
  padding: 13px 0px 0px;
  background-color: #375381;
}

.proc_menu_active
{
  display: block;
  width: 98.8vw;
  height: 44px;
  padding: 13px 0px 0px;
  background-color: #375381;
}

.flights_menu_active
{
  display: block;
  width: 98.8vw;
  height: 44px;
  padding: 13px 0px 0px;
  background-color: #375381;
}

.atc_comm_menu_active
{
  display: block;
  width: 98.8vw;
  height: 44px;
  padding: 13px 0px 0px;
  background-color: #375381;
}

/* LDZA CHART MENU */
.ldza_choose_chart_menu
{
  display: none;
  width: 98.8vw;
  height: 44px;
  padding: 13px 0px 0px;
  background-color: #375381;
}

.ldza_capture_return_link
{
  text-decoration: none;
  color: lime;
  font-weight: bold;
  margin-right: 4px;
  margin-left: 2px;
}

.selected_chart_link
{
  text-decoration: none;
  color: #fff;
}




.ldza_choose_chart_menu_active
{
  display: flex;
  flex-direction: row;
}

/* button for choosing need chart */
.sel
{
  border: none;
  color:#fff;
  background-color: transparent;
  cursor: pointer;
}

.sel_btn_hide
{
  display: none;
}

/* modal window */

.modal_window_wrapper
{
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
}

.__modal_window_chart_select
{
  display: none;
  background-color: #375381;
  position: fixed;
}

.chart_titles
{
  width: 400px;
  height: 300px;
  /* background-color: orange; */
  display: block;
  overflow-y: auto;
}

.label_rw
{
  color: lime;
  font-weight: bold;
}

.__modal_window_active
{
  display: flex;
}

.text
{
  text-decoration: none;
  color: #fff;
}

.sel_star_hide 
{
  display: none;
}
.sel_appr_hide 
{
  display: none;
}
.sel_taxi_hide 
{
  display: none;
}

.__CAT_LINKS
{
  text-decoration: none;
}